html {
	height: 100%;
	;
	width: 100%;
}

.main {
	display: flex;
	justify-content: center;
	width: 100%;
}

.videocontainer {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 100%;
}

.front-card,
.back-card {
	position: absolute;
	background: black;
	overflow: hidden;
}


.front-card {
	animation-name: frontcard-front;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	z-index: 2;
}

.front-card.active {
	animation-name: frontcard-back;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	z-index: 1;
}

.back-card {
	background-color: beige;
	transition: all 0.5s linear;
	animation-name: backcard-back;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	opacity: 0.5;
	z-index: 1;
}

.back-card:hover {
	background-color: bisque;
}

.back-card.active {
	animation-name: backcard-front;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	z-index: 2;
}

@keyframes frontcard-front {
	0% {
		transform: perspective(200px) translate3d(-150px, 0px, -30px);
		opacity: 0.5;
	}

	50% {
		transform: perspective(200px) translate3d(-350px, 0px, -30px);
	}

	100% {
		transform: perspective(200px) translate3d(0px, 0px, -30px);
		opacity: 1;
	}
}

@keyframes frontcard-back {
	0% {
		transform: perspective(200px) translate3d(0px, 0px, -30px);
		opacity: 1;
	}

	100% {
		transform: perspective(200px) translate3d(-100px, 0px, -30px);
		opacity: 1;
	}
}

@keyframes backcard-front {
	0% {
		transform: perspective(200px) translate3d(150px, 0px, -30px);
		opacity: 0.5;
	}

	50% {
		transform: perspective(200px) translate3d(350px, 0px, -30px);
	}

	100% {
		transform: perspective(200px) translate3d(0px, 3px, -30px);
		opacity: 1;
	}
}

@keyframes backcard-back {
	0% {
		transform: perspective(200px) translate3d(0px, 0px, -30px);
		opacity: 1;
	}

	100% {
		transform: perspective(200px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
	}
}

textarea {
	width: 80%;
	height: 100px;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: none;
}

.image-btn {
	max-width: 200px;
	max-height: 100px;
	height: auto;
	width: auto;
}

#resultsContainer,
#checkboxCard {
	border: 1px solid #ccc;
	padding: 10px;
	width: 300px;
}

#resultsContainer {
	height: 500px;
}

#checkboxCard {
	display: flex;
	height: 400px;
	flex-direction: column;
}

.videoLink {
	color: #007bff;
	cursor: pointer;
}

.button-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

#searchForm {
	display: flex;
	flex-direction: column;
}

.searchField {
	margin-bottom: 5px;
}

#searchDel {
	display: flex;
	flex-direction: column;
}

.bottomcontainer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff;
	padding: 10px;
	transform: translateY(10px);
}

.pluscontainer,
.delcontainer {
	flex: 1;
}

.subscribe-button {
	background-color: #008CBA;
	color: white;
	border: none;
	border-radius: 10%;
}

.recommend-button {
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 10%;
}