.card-text {
	color: #6c757d;
}

.card:hover {
	transform: translateY(-5px);
}

.card-title {
	color: #343a40;
	font-weight: bold;
}

.card-group {
	display: flex;
	flex-wrap: wrap;
}

.custom-card {
	width: calc(16.6667% - 20px);
	text-align: center;
	margin: 10px;
	height: 200px;
	padding: 10px;
	box-sizing: border-box;
	background-color: #f8f9fa;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
}

.custom-card:hover {
	transform: translateY(-8px);
}

@media (max-width: 768px) {
	.navbar-nav .nav-link {
		font-size: 14px;
	}
}

.card-group-container {
	display: flex;
	justify-content: center;
	/* 가로 가운데 정렬 */
}