.navbar {
	background-color: #f8f9fa;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoimg {
	max-height: 100px;
	max-width: 100px;
	height: auto;
	width: auto;
}

.navbar-brand {
	font-weight: bold;
}

.navbar-nav .nav-link {
	color: #6c757d;
}

.navbar-nav .nav-link:hover {
	color: #007bff;
}

.card {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-form {
	display: flex;
	align-items: center;
	width: 60%;
}

.search-form .input-group {
	text-align: center;
}

#keyword {
	flex: 1;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
}

.search-button {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 8px 12px;
	cursor: pointer;
}

.search-button svg {
	width: 16px;
	height: 16px;
}

.navbar-collapse {
	flex-grow: 0;
}