#root {
	width: 100%;
	margin: 0 auto;
	max-width: 800px;
}

input[type="file"] {
	display: none;
}

.title {
	text-align: center;
}

.contents {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.contents .upload-box {
	width: calc(50% - 15px);
	box-sizing: border-box;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contents .upload-box .drag-file {
	width: 100%;
	height: 360px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px dashed #dbdbdb;
}

.contents .upload-box .drag-file.highlight {
	border: 3px dashed red;
}

.contents .upload-box .drag-file .image {
	width: 40px;
}

.contents .upload-box .drag-file .message {
	margin-bottom: 0;
}

.contents .upload-box .file-label {
	margin-top: 30px;
	background-color: #4CAF50;
	;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	width: 65%;
	border-radius: 6px;
	cursor: pointer;
}

.contents .upload-box .file {
	display: none;
}

.contents .files {
	width: calc(50% - 15px);
	box-sizing: border-box;
	overflow: auto;
	height: 360px;
}

.contents .files .file {
	display: flex;
	padding: 20px 20px;
	border-bottom: 1px solid #dbdbdb;
}

.contents .files .file:last-child {
	margin-bottom: 0px;
	border-bottom: none;
}

.contents .files .file .thumbnail {
	display: flex;
	flex: none;
	width: 50px;
	margin-right: 20px;
	align-items: center;
}

.contents .files .file .thumbnail .image {
	width: 100%;
}

.contents .files .file .details {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contents .files .file .details .header {
	display: flex;
}

.contents .files .file .details .header .name {
	width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.contents .files .file .details .header .size {
	margin-left: auto;
}

.contents .files .file .progress {
	position: relative;
	height: 6px;
	background-color: #dbdbdb;
	overflow: hidden;
	margin-top: 4px;
	border-radius: 10px;
}

.contents .files .file .progress .bar {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #5b975b;
}

.contents .files .file .status {
	display: flex;
	width: 100%;
}

.contents .files .file .status .speed {
	margin-left: auto;
}

@media(max-width: 700px) {
	.contents {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	}

	.contents .upload-box {
		width: 100%;
		box-sizing: border-box;
		margin-right: 0;
	}

	.contents .upload-box .drag-file {
		height: 150px;
	}

	.contents .files {
		width: 100%;
		box-sizing: border-box;
		margin-right: 0;
		overflow: initial;
	}
}

.white-container {
	margin-top: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	width: 300px;
	height: 200px;
	background-color: white;
	overflow: hidden;
	position: relative;
}

.preview-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.preview-container video {
	max-width: 100%;
	max-height: 100%;
}

textarea {
	margin-top: 20px;
	width: 800px;
	height: 35px;
}

.text-container {
	text-align: center;
	margin-bottom: 10px;
}

.upload-container {
	text-align: center;
}

button[class="upload"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[class="upload"]:hover {
	background-color: #5b975b;
}

#preview {
	margin-top: 20px;
}

#preview video {
	width: 100%;
}

.radio-group-container {
	display: flex;
	align-items: center;
}

.radio-group-container h5 {
	text-align: left;
	margin-right: auto;
}

.radio-group {
	margin-left: 20px;
}

@keyframes rotate-loading {
	100% {
		transform: rotate(360deg);
	}
}

#overlay {
    display: none; /* 초기에는 보이지 않도록 설정 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    z-index: 1000; /* 다른 요소들보다 위에 표시 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    flex-direction: column; /* 수직 정렬 */
}

#loadingIndicator {
	width: 100px;
	animation: rotate-loading 3s linear infinite;
	transform-origin: 50% 50%;
	height: 100px;
}

#progress-status {
    color: white;
    margin-top: 10px; /* 로딩 이미지와 글씨 사이 간격 */
}
