<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>채널 - 동영상 목록</title> <!-- 한글 제목 추가 -->
	<link rel="stylesheet" type="text/css" th:href="@{/sidebar.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/channel.css}">
</head>

<body layout:fragment="content">
	<div class="sidebar" id="sidebar">
		<ul>
			<li><a th:href="@{'/Member/' + ${username}}">유저 정보</a></li>
			<li><a th:href="@{'/channel/' + ${userNo}}">동영상 목록</a></li>
		</ul>
	</div>
	<h1 style="color: #333; font-size: 28px; margin-bottom: 20px;">업로드 목록</h1>
	<div class="videolist">
		<ul class="video" style="list-style: none; padding: 0;">
			<div>
				<a th:each="video : ${videos}" th:href="@{'/video/' + ${video.videoNumber}}"
					style="display: block; margin-bottom: 20px;">
					<img src="..." alt="썸네일 추가?예정??">
					<span th:text="${video.videoName}"></span>
				</a>
			</div>

		</ul>
	</div>
	<script>
		function toggleSidebar() {
			var sidebar = document.getElementById("sidebar");
			sidebar.classList.toggle("active");
		}
	</script>
</body>

</html>