<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/sidebar.css}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>채널</title>
</head>

<body layout:fragment="content">
	<div class="sidebar" id="sidebar">
		<ul>
			<li><a th:href="@{'/Member/'+${username}}">유저 정보</a></li>
			<li><a th:href="@{'/channel/'+${userNo}}">동영상 목록</a></li>
		</ul>
	</div>
	<h1>채널</h1>
	<ul>
		<!-- 비디오 출력 장소  -->
		<li th:each="video : ${videos}" th:text="${video.videoName}"></li>
	</ul>
	<script>
		function toggleSidebar() {
			var sidebar = document.getElementById("sidebar");
			sidebar.classList.toggle("active");
		}
	</script>
</body>

</html>