<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/mainpage.css}">
</head>

<body layout:fragment="content">
	<div th:if="${message}" class="alert alert-success" role="alert" id="flash-message">
		<p th:text="${message}"></p>
	</div>
	<div class="card-group-container">
		<div class="card-group" th:if="${not #lists.isEmpty(videoDetails)}">
			<div th:each="detail, iterStat : ${videoDetails}" class="custom-card">
				<img class="card-img-top" src="..." alt="썸네일 추가?예정??">
				<div class="card-body">
					<a th:href="@{|/video/${detail[0]}|}" class="card-title" th:text="${detail[1]}"></a>
					<p class="card-text" th:text="${detail[2]}"></p>
				</div>
			</div>
		</div>
	</div>



	<script>
		// 페이지가 로드될 때 메시지를 숨기는 함수
		function hideMessage() {
			var messageElement = document.getElementById("flash-message");
			if (messageElement) {
				// 5초 후에 메시지를 숨김
				setTimeout(function () {
					messageElement.style.display = "none";
				}, 5000); // 5초
			}
		}

		// 페이지 로드 시 호출하여 메시지를 숨김
		window.onload = hideMessage;
	</script>


</body>

</html>