<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/mainpage.css}">
</head>

<body layout:fragment="content">
	<div class="card-group" style="max-width: 1500px;" th:if="${not #lists.isEmpty(videoDetails)}">
		<div th:each="detail, iterStat : ${videoDetails}" class="custom-card">
			<img class="card-img-top" src="..." alt="썸네일 추가?예정??">
			<div class="card-body">
				<a th:href="@{|/video/${detail[0]}|}" class="card-title" th:text="${detail[1]}"></a>
				<p class="card-text" th:text="${detail[2]}"></p>
			</div>
		</div>
	</div>
</body>

</html>
