<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
</head>
<body>
    <h1>Search Page</h1>

    <form action="/search" method="get">
        <label for="keyword">Keyword:</label>
        <input type="text" id="keyword" name="keyword">
        <button type="submit">Search</button>
    </form>

    <h2>Search Results</h2>
    
    <!-- 검색 결과가 없는 경우 -->
    <div th:if="${searchPage == null or searchPage.empty}">
        <p>No results found.</p>
    </div>
    
    <!-- 검색 결과가 있는 경우 -->
    <div th:if="${searchPage != null and not searchPage.empty}">
        <div th:each="result : ${searchPage.content}">
            <!-- 검색 결과를 클릭할 수 있는 링크로 래핑합니다 -->
            <a th:href="@{'/video/' + ${result.videoNumber}}">
                <p>
                    <span th:text="${result.videoName}"></span>
                    <span> - </span>
                    <span th:text="${result.videoNumber}"></span>
                </p>
            </a>
        </div>
    </div>
    <!-- 페이징 -->
    <div th:if="${searchPage != null}">
        <ul class="pagination">
            <!-- 이전 페이지로 이동하는 링크 -->
            <li th:class="${searchPage.first ? 'disabled' : ''}">
                <a th:if="${not searchPage.first}" th:href="@{'/search?keyword=' + ${keyword} + '&page=1'}">&laquo;</a>
            </li>
            <!-- 페이지 번호 출력 -->
            <li th:each="i : ${#numbers.sequence(1, searchPage.totalPages)}" th:class="${searchPage.number + 1 == i ? 'active' : ''}">
                <a th:href="@{'/search?keyword=' + ${keyword} + '&page=' + ${i - 1}}" th:text="${i}"></a>
            </li>
            <!-- 다음 페이지로 이동하는 링크 -->
            <li th:class="${searchPage.last ? 'disabled' : ''}">
                <a th:if="${not searchPage.last}" th:href="@{'/search?keyword=' + ${keyword} + '&page=' + (${searchPage.number + 1})}">&gt;</a>
            </li>
            <!-- 마지막 페이지로 이동하는 링크 -->
            <li th:class="${searchPage.last ? 'disabled' : ''}">
                <a th:if="${not searchPage.last}" th:href="@{'/search?keyword=' + ${keyword} + '&page=' + ${searchPage.totalPages}}">&raquo;</a>
            </li>
        </ul>
    </div>
</body>
</html>
