<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>추천기능 테스트</title>
</head>

<body>
	<div class="card-body">
		<h1>추천기능</h1>
		<div class="my-3">
			<a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
				th:data-uri="@{|/recommend/${recommend.video_no}|}">
				추천
				<span class="badge rounded-pill bg-success" th:text="${#lists.size(recommend.video_no)}"></span>
			</a>
		</div>
	</div>
	
		

</body>
<script layout:fragment="script" type='text/javascript'>
const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 추천하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
</html>