<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/upload.css}">

</head>

<body layout:fragment="content">
	<form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
		<div id="root">
			<div class="contents">
				<div class="upload-box">
					<div id="drop-file" class="drag-file" ondrop="dropHandler(event)"
						ondragover="dragOverHandler(event)" ondragenter="dragEnterHandler(event)"
						ondragleave="dragLeaveHandler(event)">
						<img src="https://img.icons8.com/pastel-glyph/2x/image-file.png" alt="파일 아이콘" class="image">
						<p class="message">Drag files to upload</p>
					</div>
					<label class="file-label" for="chooseFile">파일 선택</label>
					<input type="file" id="chooseFile" name="file" accept="video/*"
						onchange="handleFiles(this.files)"><br><br>
				</div>
				<div id="uploadPreview" class="upload-container"></div> <!-- 추가된 엘리먼트 -->
				<div id="files" class="files">
					<div class="white-container" id="whiteContainer">
						<div class="preview-container" id="previewContainer">
						</div>
					</div>
				</div>
			</div>
			<div class="radio-group-container">
				<h5>동영상 요약 가능 여부</h5>
				<div class="radio-group">
					<label>
						<input type="radio" name="summary" value="1">
						O
					</label>
				</div>
				<div class="radio-group">
					<label>
						<input type="radio" name="summary" value="0">
						X
					</label>
				</div>
			</div>
			<div class="text-container">
				<textarea name="title" placeholder="제목을 입력 해주세요!"></textarea>
			</div>
		</div>
		<div class="upload-container">
			<button type="submit" class="upload">업로드</button>
		</div>
	</form>
	</div>
	<script>
		function dropHandler(event) {
			event.preventDefault();
			var file = event.dataTransfer.files[0];
			console.log(file);
			if (file) {
				var fileInput = document.getElementById('chooseFile');
				fileInput.files = event.dataTransfer.files;
				previewFile(file);
			}
		}


		function dragOverHandler(event) {
			event.preventDefault();
		}

		function dragEnterHandler(event) {
			event.preventDefault();
		}

		function dragLeaveHandler(event) {
			event.preventDefault();
		}

		function handleFiles(files) {
			var file = files[0];
			console.log(file)
			if (file) {
				previewFile(file);
			}
		}
		// 파일 미리보기 함수
		function previewFile(file) {
			var reader = new FileReader();
			reader.onload = function (event) {
				var video = document.createElement('video');
				video.controls = true;
				video.src = event.target.result;
				video.style.maxWidth = "100%";
				video.style.maxHeight = "100%";
				document.getElementById('previewContainer').innerHTML = ''; // 기존 내용 지우기
				document.getElementById('previewContainer').appendChild(video);
			};
			reader.readAsDataURL(file);
		}
		document.addEventListener("DOMContentLoaded", function () {
			var uploadForm = document.getElementById('uploadForm');
			var loadingIndicator = document.getElementById('loadingIndicator');
			uploadForm.addEventListener('submit', function (event) {
				event.preventDefault();
				var fileInput = document.getElementById('chooseFile');
				var titleInput = document.querySelector('textarea[name="title"]');
				var file = fileInput.files[0];
				var title = titleInput.value;
				var radioValue = document.querySelector('input[name="summary"]:checked').value;

				// FormData 생성
				var formData = new FormData();
				formData.append('file', file);
				formData.append('title', title);
				formData.append('summary', radioValue);
				loadingIndicator.style.display = 'block';

				// Ajax로 서버에 데이터 전송
				var xhr = new XMLHttpRequest();
				xhr.open('POST', '/upload', true);
				xhr.onload = function () {
					if (xhr.status === 200) {
						console.log('Upload successful');
						window.location.href = "/"

					} else {
						console.error('Upload failed');
					}
				};
				xhr.onerror = function () {
					// 통신 오류 시 처리할 내용
					console.error('Communication error');
				};
				xhr.send(formData);
			});
		});
		function updateLoadingText() {
			const loadingTextElement = $('#loadingDots');
			if (!loadingTextElement) return;

			const dots = ['.', '..', '...'];
			let index = 0;

			loadingInterval = setInterval(() => {
				loadingTextElement.text(dots[index]);
				index = (index + 1) % dots.length;
			}, 500);
		}

	</script>
</body>

</html>