<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/userpage.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/sidebar.css}">
		<meta charset=" UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>사용자</title>
</head>

<body layout:fragment="content">
	<div class="sidebar" id="sidebar">
		<ul>
			<li><a th:href="@{'/Member/'+${user.username}}">유저 정보</a></li>
			<li><a th:href="@{'/channel/'+${userNo}}">동영상 목록</a></li>
			<!--추가 예정 -->
		</ul>
	</div>
	<div class="userpage">
		<h2><span th:text="${user.username}">님의 정보</span></h2>
		<h5>아이디 : <span th:text="${user.username}"></span></h5>
		<button onclick="confirmWithdraw()">회원 탈퇴</button>
	</div>

	<script>
		function confirmWithdraw() {
			var confirmWithdrawal = confirm("정말로 회원 탈퇴를 하시겠습니까?");
			if (confirmWithdrawal) {
				window.location.href = "/withdraw";
			}
		}
		function toggleSidebar() {
			var sidebar = document.getElementById("sidebar");
			sidebar.classList.toggle("active");
		}

	</script>
</body>

</html>